@use "../../style/global.scss" as *;


.about{
    height: 100%;
    background-color: $lech-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    &__wrapper{
        display: flex;
        align-items: center;
        flex-direction: column;
        color: white;
        justify-content: space-between;
        height:40rem;
        width: 50%;
        overflow: auto;
    }
}