@use "../../style/global.scss" as *;


.login{
    height: 100%;
    background-color: $lech-primary;
    display: flex;
    overflow: auto;
    justify-content: center;
    align-items: center;
    &__wrapper{
        width: 25%;
        height: 60%;
        padding: 5rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__ctaSignup{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__form{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;

           & form{
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            
           }
        }
      
      
    }
}