@use "../../style/global.scss" as *;
html{
    background-color: $lech-primary;
}
.home{
    height: 100%;
    background-color: $lech-primary;
    display: flex;
    
    overflow: auto;

    &__welcomer{
    
        height: max-content;
        min-height: 100%;
        display: flex;
        width: 100%;
        font-size: 80px;
        color: white;
        padding: 10rem 5rem;
        justify-content: space-around;
        flex-direction: column;
        &__logo{
            display: flex;
            gap: 4rem;
            
        }
        & span{
            text-decoration:underline;

        }
    }
    &__cta{
         min-height: 100%;
        height: max-content;
        display: flex;
        width: 100%;
        font-size: 80px;
        color: white;
        padding: 10rem 5rem;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

      

    }
}

@media screen and (max-width: 1050px) {
    .home{
        flex-direction: column;
        &__welcomer{
            
            &__logo{
              
            }
        }
    }

    
}

@media screen and (max-width: 540px) {
    .home{
        flex-direction: column;
        &__welcomer{
        font-size: 40px;
            
            &__logo{
             & img{
                height: 100px;
             }
            }
        }
    }

    
}