@use "../../style/global.scss" as *;

.checkout{
    height: 100%;
    background-color: $lech-primary;
    display: flex;
    overflow: auto;
    justify-content: center;
    align-items: center;
    
    &__wrapper{
        width: 80%;
        border: 2px solid white;
        height: 90%;
    padding: 4rem;
    

        display: flex;
        border-radius: 15px;
    }
}