@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.cdnfonts.com/css/akrobat');
*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'akrobat';
  font-size: 100%;
}


